.register-form {
  min-width: 50px;
  margin: 60px auto;
  padding: 40px 60px;
  border: 1px solid green;
  box-shadow: 6px 6px 15px darkgreen;
  border-radius: 12px;
  background-color: lightgreen;
}
