@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgreen;
  padding: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.form {
  font-family: "Poppins", sans-serif;
  background-color: green;
  margin: 30px auto;
  width: 90%;
  max-width: 500px;
  padding: 4.5em 3em;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.3);
}
.form-title {
  font-size: 2rem;
  margin-bottom: 0.5em;
  color: white;
  align-items: center;
}
.form-paragraph {
  font-size: small;
  font-weight: 300;
  color: white;
  text-align: center;
}
.form-paragraph .form-link {
  font-weight: 400;
  color: yellow;
}
.form-container {
  margin-top: 3em;
  display: grid;
  gap: 20px;
}
.form-container .form-group {
  position: relative;
  color: purple;
}
.form-container .form-group .form-input {
  width: 100%;
  background: none;
  color: yellow;
  font-size: 1rem;
  padding: 0.6em 0.3em;
  border: none;
  outline: none;
  border-bottom: 1px solid yellow;
  font-family: "Roboto", sans-serif;
}
.form-container .form-group .form-input:not(:-moz-placeholder-shown) + .form-label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: lightblue;
}
.form-container .form-group .form-input:not(:-ms-input-placeholder) + .form-label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: lightblue;
}
.form-container .form-group .form-input:focus + .form-label, .form-container .form-group .form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: lightblue;
}
.form-container .form-group .form-input:not(:-moz-placeholder-shown) ~ .form-line {
  transform: scale(1);
}
.form-container .form-group .form-input:not(:-ms-input-placeholder) ~ .form-line {
  transform: scale(1);
}
.form-container .form-group .form-input:focus ~ .form-line, .form-container .form-group .form-input:not(:placeholder-shown) ~ .form-line {
  transform: scale(1);
}
.form-container .form-group .form-input:not(:-moz-placeholder-shown) {
  color: lightblue;
}
.form-container .form-group .form-input:not(:-ms-input-placeholder) {
  color: lightblue;
}
.form-container .form-group .form-input:focus, .form-container .form-group .form-input:not(:placeholder-shown) {
  color: lightblue;
}
.form-container .form-group .form-label {
  color: yellow;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: transform 0.5s, color 0.3s;
}
.form-container .form-group .form-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: lightblue;
  transform: scale(0);
  transform: left bottom;
  transition: transform 0.4s;
}
.form-container .form-submit {
  background-color: yellow;
  color: green;
  font-size: 1rem;
  font-weight: 300;
  font-family: "Popins", sans-serif;
  padding: 0.8em 0;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  transition: 0.3s all;
}
.form-container .form-submit:hover {
  background-color: blue;
  color: yellow;
}
.form-container textarea {
  padding: 10px;
  font-size: medium;
  color: white;
  background-color: forestgreen;
  border: none;
  border-radius: 8px;
}
.form .textarea {
  padding: 10px;
  color: white;
  background-color: forestgreen;
  border: none;
  border-radius: 12px;
}

@media (max-width: 425px) {
  .form-title {
    font-size: 1.8rem;
  }
}
.section-products {
  width: 90%;
  height: 600px;
  overflow-x: auto;
  font-family: "Roboto", sans-serif;
  margin: 10px auto;
  border: 2px solid green;
  box-shadow: 2px 2px 3px black;
}

.products-title {
  font-family: "Poppins", sans-serif;
  color: green;
  margin-top: 20px;
  text-align: center;
}

tbody {
  background-color: white;
  color: green;
  margin: 30px 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  white-space: nowrap;
}
table thead {
  font-weight: 700;
}
table thead td {
  background-color: green;
  color: white;
  border: none;
  padding: 6px 0;
}
table td {
  border-bottom: 2px solid silver;
  padding: 10px;
  text-align: center;
}
table td:nth-child(1) {
  width: 100px;
}
table td:nth-child(2), table td:nth-child(3) {
  width: 200px;
}
table td:nth-child(4), table td:nth-child(5), table td:nth-child(6) {
  width: 170px;
}
table tbody img {
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 1px 2px 4px black;
  border-radius: 50%;
}

#message {
  background: darkcyan;
  max-width: 360px;
  margin: 100px auto 16px;
  padding: 32px 24px 16px;
  border-radius: 3px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  text-align: center;
}
#message h3 {
  color: white;
  font-weight: normal;
  font-size: 16px;
  margin: 16px 0 12px;
}
#message h2 {
  color: #ffa100;
  font-weight: bold;
  font-size: 32px;
  margin: 0 0 8px;
}
#message h1 {
  font-size: 22px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
  margin: 0 0 16px;
}
#message p {
  line-height: 140%;
  margin: 16px 0 24px;
  font-size: 14px;
}
#message a {
  display: block;
  text-align: center;
  background: #039be5;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  padding: 16px;
  border-radius: 4px;
}

#message,
#message a {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#load {
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  font-size: 13px;
}

@media (max-width: 600px) {
  body,
#message {
    margin-top: 0;
    background: white;
    box-shadow: none;
  }
  body {
    border-top: 16px solid #ffa100;
  }
}
.login-form {
  background-color: rgba(3, 17, 6, 0.815);
  color: white;
  padding: 100px 50px;
  margin: auto;
  max-width: 500px;
  border: 1px solid green;
  border-radius: 5px;
  box-shadow: 2px 2px 5px green;
}

.register-form {
  min-width: 50px;
  margin: 60px auto;
  padding: 40px 60px;
  border: 1px solid green;
  box-shadow: 6px 6px 15px darkgreen;
  border-radius: 12px;
  background-color: lightgreen;
}/*# sourceMappingURL=main.css.map */