<%- include("layout/main", {title: "Inicio" }) %> <%- include("partials/nav.ejs") %>

    <body>
      <main>
        <div>
          <% if(user) { %>
            <h1>Bienvenida/o <%= user.username %>
            </h1>
            <br />
            <a href="/logout">Log out</a>
            <%}%>
        </div>
        <form class="form" id="products-form" action="api/products" method="POST">
          <h2 class="form-title text-center">Ingresar productos</h2>
          <p class="form-paragraph">

            Backend
            <a href="https://github.com/felipepardo90/new-Backend.git" target="_blank" class="form-link">Ver repo</a>
          </p>
          <div class="form-container">
            <div class="form-group">
              <input type="text" name="title" class="form-input" placeholder=" " />
              <label for="title" class="form-label">Title:</label>
              <span class="form-line"></span>
            </div>
            <div class="form-group">
              <input type="number" name="price" class="form-input" placeholder=" " />
              <label for="price" class="form-label">Price:</label>
              <span class="form-line"></span>
            </div>
            <div class="form-group">
              <input type="text" name="thumbnail" class="form-input" placeholder=" " />
              <label for="thumbnail" class="form-label">Thumbnail:</label>
              <span class="form-line"></span>
            </div>
            <div class="form-group">
              <input type="text" name="code" class="form-input" placeholder=" " />
              <label for="code" class="form-label">Code:</label>
              <span class="form-line"></span>
            </div>
            <div class="form-group">
              <input type="number" name="stock" class="form-input" placeholder=" " />
              <label for="stock" class="form-label">Stock:</label>
              <span class="form-line"></span>
            </div>

            <textarea name="description" id="description" cols="10" rows="5" class="form-input"></textarea>

            <input type="submit" class="form-submit" value="Ingresar" />
          </div>
        </form>
      </main>
    </body>
    </html>