<%- include("layout/main", {title: "Register" }) %>

  <body>
    <form action="/register" method="POST" class="form-container register-form" enctype="multipart/form-data">

      <div class="form-outline mb-4">
        <input type="text" id="form2Example1" class="form-control" name="username" />
        <label class="form-label" for="form2Example1">Insert username</label>
      </div>
      <div class="form-outline mb-4">
        <input type="email" id="form2Example1" class="form-control" name="email" />
        <label class="form-label" for="form2Example1">Insert email</label>
        <% if(signupMsg) { %>
          <label>
            <%= signupMsg %>
          </label>
          <% } %>
      </div>
      <!-- <input type="email" name="email" placeholder="Insert Email" />
      <input type="number" name="age" placeholder="Insert age" />
      <input type="number" name="phone" placeholder="Insert phone number" /> -->
      <div class="form-outline mb-4">
        <input type="password" id="form2Example2" class="form-control" name="password" />
        <label class="form-label" for="form2Example2">Password</label>
      </div>
      <!-- <input type="password" name="password" placeholder="Insert Password" required/> -->
      <div class="form-outline mb-4">
        <input type="file" name="avatar" accept="image/*" capture="user" />
      </div>

      <button type="submit" class="btn btn-primary btn-block mb-4">Signup</button>
    </form>
  </body>
  </html>