node_modules
pruebas.js
.env

#############

clean caché 

# git rm -r --cached .
# git add .
# git commit -m "fixed untracked files" 

desafio1
desafio2
desafio3
desafio4
desafio5
desafio6
desafio7
desafio8
desafio9
desafio10
desafio11
# desafio12
# desafio13
desafio14
desafio15
desafio16
desafio17
# desafio18
desafio19

